.input-field {
    position: relative;
    height: fit-content;
    padding: 10px;
    background: var(--background_color);
    color: var(--text-color);
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
}
.input-container {
    position: relative;
    border: var(--text-color) 1px solid;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    min-width: fit-content;
    padding: 5px 0 5px 5px;
    border-radius: 5px;
}
.input-container label {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 10px;
    font-weight: bolder;
    overflow: hidden;
    background: var(--background_color);
    color: var(--text-color);
    border-radius: 5px;
    transform: translateY(-50%);
    padding: 5px;
    max-width: 100%;
    opacity: 0;
    z-index: 1000;
}
.input-container>input,.input-container>textarea {
    all: unset;
    border: none;
    min-width: calc(100% - 20px);
    padding: 5px;
}
.input-container>textarea{
    height: 100px;
}
.input-container[aria-expanded="true"] label {
    background: var(--text-color);
    color: var(--background_color);
}
.input-container input::placeholder{
    color: var(--text-color);
    opacity: 0.5;
}
.input-container input:focus::placeholder{
    opacity: 0;
}
.input-container[aria-expanded=true] input:not(:placeholder-shown),
.input-container[aria-expanded=true] input:focus {
    padding: 8px 5px 5px 5px;
}
.input-container input:not(:placeholder-shown) + label,
.input-container input:focus + label{
    opacity: 1;
}
.input-container[aria-invalid=true] input + label{
    color: var(--alert_color);
}

.input-container textarea::placeholder{
    color: var(--text-color);
    opacity: 0.5;
}
.input-container textarea:focus::placeholder{
    opacity: 0;
}
.input-container[aria-expanded=true] textarea:not(:placeholder-shown),
.input-container[aria-expanded=true] textarea:focus {
    padding: 8px 5px 5px 5px;
}
.input-container textarea:not(:placeholder-shown) + label,
.input-container textarea:focus + label{
    opacity: 1;
}
.input-container[aria-invalid=true] textarea + label{
    color: var(--alert_color);
}
label{
    font-size: 18px;
}
.suggest-list{
    background: var(--background_color);
    color: var(--text-color);
    position: absolute;
    padding: 10px;
    top: 100%;
    width: 100%;
    border: 1px solid var(--background_color);
    box-shadow: 1px 1px 10px var(--text-color);
    margin: 2px;
    border-radius: 5px;
    z-index: 10;
}
.suggest-list-item{
    padding: 5px;
    text-align: left;
}
.suggest-list-item:hover{
    background: var(--text-color);
    color: var(--background_color);
    font-weight: 700;
    padding: 10px;
    border-width: 1px;
    border-radius: 5px;
}


.rating-bar{
    padding: 10px;
    background-color: transparent;
}
.rating-bar-title{
    font-size: 15px;
    padding: 5px;
    font-weight: 500;
}
.rating-bar-rating{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
}
.rating-bar-stars{
    display: flex;
    justify-content: space-between;
    background-color: transparent;

}
.rating-bar-stars button{
    aspect-ratio: 1/1;
    padding: 0;
    font-size: 20px;
    background-color: transparent;
    color: var(--text-color);
    text-shadow: 0 0 3px #000000AA, 0 0 5px #FFFFFFAA;
    border: none;
}
.rating-bar-label{
    font-size: 20px;
    font-weight: 500;
}

.sub-menu{
    border-radius: 5px;
    padding: 5px;
    left: 100%;
    width: fit-content;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.menu-item{
    display: flex;
    border-radius: 5px;
    justify-content: left;
    flex: 1 1;
    align-items: center;
    position: relative;
    height: 40px;
    gap: 5px;
    background: var(--background_color);
    color: var(--text-color);
}
.menu-content{
    display: flex;
    justify-content: left;
    width: 100%;
    align-items: center;
    position: relative;
    min-height: 40px;
    gap: 5px;
}
.menu-item:hover{
    background: var(--on_background_color);
}
.menu-content #icon{
    max-height: 30px;
    aspect-ratio: 1/1;
    padding: 5px;
}
.menu-content #text{
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
}
.menu-content #show-sub-menu{
    flex: 0;
    transform: rotateZ(180deg);
}
.context-menu-button{


    border-radius: 20%;
    position: relative;
    width: fit-content;
}
.context-menu-button:hover{
    opacity: 1;
}
.context-menu-button>button{
    width: 30px;
    aspect-ratio: 1/1;
    background-color: var(--text-color);
    color: var(--background_color);
    opacity: 0.2;
}
.context-menu-button>button:hover{
    opacity: 1;
}
