@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;500&display=swap');

:root{
  /*Colours*/
  --background_color: #FFFFFF;
  --on_text_color : #FFFA;
  --on_background_color : #AAAA;
  --alert_color: #FF4C4C;
  --text-color: #000000;
  background: var(--background_color);
  color: var(--text-color);
}
:root[data-theme='dark'] {
  --background_color: #121212;
  --text-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
